################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dev-unity/Ace Is High
/dev-win/v001/Ace Is High_BurstDebugInformation_DoNotShip/Data/Plugins/x86_64
/dev-linux/v001/Ace Is High_BurstDebugInformation_DoNotShip/Data/Plugins
