player-connection-mode=Listen
player-connection-guid=1253387885
player-connection-debug=0
player-connection-project-name=Ace Is High
player-connection-ip=192.168.1.123
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8ed737de1d7f41ad85c417140ee5e4ba
